* {
  box-sizing: border-box;
}

.transp {
  background: transparent !important;
  background-color: none;
}

.logo-img {
  width: 250px;
}


.container-fluid div.blue {
  height: 250px;
  padding: 10px;
}

.container-fluid p {
  padding: 20px;
  display: inline-block;
}

.flex {
  
  padding: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.row {
  width: 100%;
}

.btn-floating {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.card {
  transform: rotate(3deg);
  margin-top: 40px;
  transition: all 0.3s;
}

.card:hover {
  transform: rotate(0deg);
}
